<!-- profile settings -->
<section class="profile-settings">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="heading">
                <i class="fa fa-gears"></i>
                <h4>Profile Settings</h4>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="setting-form">
                        <form name="settings" ng-submit="ProfileSettingsCtrl.updateUser()">
                            <div class="setting-form-inner">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <h6 class="borderBottom">Username Setting:</h6>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>First Name:
                                            <input type="text" ng-model="ProfileSettingsCtrl.user.firstName" placeholder="Enter your first name..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>Last Name:
                                            <input type="text" ng-model="ProfileSettingsCtrl.user.lastName" placeholder="Enter your last name..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>Nick Name:
                                            <input type="text" placeholder="Enter your nick name..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>Display Name:
                                            <input type="text" placeholder="Select your display name">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="setting-form-inner">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <h6 class="borderBottom">Update Password:</h6>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>New Password:
                                            <input type="password" placeholder="Enter your new password..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>Retype Password:
                                            <input type="password" placeholder="Enter your new password..">
                                        </label>
                                    </div>
                                </div>
                            </div>-->
                            <div class="setting-form-inner">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <h6 class="borderBottom">About Me:</h6>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>Email ID:
                                            <input type="email" ng-model="ProfileSettingsCtrl.user.email" placeholder="Enter your email address..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>Website URL:
                                            <input type="url" ng-model="ProfileSettingsCtrl.user.website" placeholder="Enter your website url..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns end">
                                        <label>Date of Birth:
                                            <input type="date" ng-model="ProfileSettingsCtrl.user.dob" placeholder="Enter your date of birth..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns end">
                                        <label>Gender:
                                            <select ng-model="ProfileSettingsCtrl.user.gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </label>
                                    </div>
                                    <!--<div class="medium-6 columns end">
                                        <label>Country:
                                            <select ng-model="ProfileSettingsCtrl.user.gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </label>
                                    </div>-->
                                    <!--<div class="medium-6 columns end">-->
                                        <!--<label>Country:-->
                                            <!--<select ng-model="ProfileSettingsCtrl.user.gender">-->
                                                <!--<option value="male">Male</option>-->
                                                <!--<option value="female">Female</option>-->
                                            <!--</select>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <div class="medium-12 columns">
                                        <label>Bio Description:
                                            <textarea ng-model="ProfileSettingsCtrl.user.bio"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="setting-form-inner">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <h6 class="borderBottom">Social Profile links:</h6>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>facebook:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>twitter:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns end">
                                        <label>Google Plus:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>
                                    <!--<div class="medium-6 columns">
                                        <label>Youtube:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>vimeo:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns end">
                                        <label>Pinterest:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns">
                                        <label>Instagram:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>
                                    <div class="medium-6 columns end">
                                        <label>Linkedin:
                                            <input type="url" placeholder="Enter your profile link..">
                                        </label>
                                    </div>-->
                                </div>
                            </div>
                            <div class="setting-form-inner">
                                <button class="button expanded" type="submit">update now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End profile settings -->