<!--breadcrumbs-->
<section id="breadcrumb">
    <div class="row">
        <div class="large-12 columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><i class="fa fa-home"></i><a ui-sref="home">Home</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span> Register
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--end breadcrumbs-->

<!-- registration -->
<section class="registration">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="login-register-content">
                <div class="row collapse borderBottom">
                    <div class="medium-6 large-centered medium-centered">
                        <div class="page-heading text-center">
                            <h3>User Registration</h3>
                            <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>-->
                        </div>
                    </div>
                </div>
                <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                    <div class="large-4 large-offset-1 medium-6 columns">
                        <div class="social-login" data-equalizer-watch>
                            <h5 class="text-center">Register via Social Profile</h5>
                            <div class="social-login-btn facebook">
                                <a ng-click="RC.authenticate('facebook')"><i class="fa fa-facebook"></i>Register via facebook</a>
                            </div>
                            <div class="social-login-btn twitter">
                                <a ng-click="RC.authenticate('twitter')"><i class="fa fa-twitter"></i>Register via twitter</a>
                            </div>
                            <div class="social-login-btn g-plus">
                                <a ng-click="RC.authenticate('google')"><i class="fa fa-google-plus"></i>Register via google plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="large-2 medium-2 columns show-for-large">
                        <div class="middle-text text-center hide-for-small-only" data-equalizer-watch>
                            <p>
                                <i class="fa fa-arrow-left arrow-left"></i>
                                <span>OR</span>
                                <i class="fa fa-arrow-right arrow-right"></i>
                            </p>
                        </div>
                    </div>
                    <div class="large-4 medium-6 columns end">
                        <div class="register-form">
                            <h5 class="text-center">Create your Account</h5>
                            <form ng-submit="RC.doRegister()" data-abide>
                                <div data-abide-error class="alert callout" style="display: none;">
                                    <p><i class="fa fa-exclamation-triangle"></i> There are some errors in your form.</p>
                                </div>
                                <!--<div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-user"></i></span>
                                    <input class="input-group-field" type="text" placeholder="Enter your username" required>
                                </div>-->

                                <div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-envelope"></i></span>
                                    <input class="input-group-field" type="email" placeholder="Enter your email" ng-model="RC.user.email" required>
                                </div>

                                <div class="input-group">
                                    <div class="row">
                                        <div class="medium-6 columns ">
                                            <input class="input-group-field" type="text" ng-model="RC.user.firstName" placeholder="First Name">
                                        </div>
                                        <div class="medium-6 columns">
                                            <input class="input-group-field" type="text" ng-model="RC.user.lastName" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>

                                <small class="help-text">Password must be at least 6 characters.</small>
                                <div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                    <input type="password" id="password" placeholder="Enter your password" ng-model="RC.user.password" ng-minlength="6" required>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                    <input type="password" placeholder="Re-type your password" ng-model="RC.user.passwordCheck" ng-minlength="6" data-equalto="password" required>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-calendar"></i></span>
                                    <input type="date" placeholder="Date of Birth" required ng-model="RC.user.dob" max="today">
                                </div>

                                <div class="button-group expanded">
                                    <button type="button" class="button" ng-model="RC.user.gender" btn-radio="'male'">Male</button>
                                    <button type="button" class="button" ng-model="RC.user.gender" btn-radio="'female'">Female</button>
                                </div>

                                <small>By registering, you agree to our <a ui-sref="tos">Terms</a> and have read our <a ui-sref="privacy">Privacy Policy</a></small>
                                <!--<label>Country
                                    <select ng-model="RC.user.country"  required>
                                        <md-option ng-value="c" ng-repeat="c in countryList|orderBy:'name'"
                                                   class="md-accent">
                                            {{::c.attributes.name.common}}
                                        </md-option>
                                    </select>
                                </label>-->

                                <span class="form-error">your email is invalid</span>
                                <button class="button expanded" type="submit" name="submit">register Now</button>
                                <p class="loginclick"> <a class="button tiny hollow" ui-sref="sign_in">Login here</a><a class="button tiny hollow" ui-sref="sign_in">Already have acoount?</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>