<style>
    body {
        background-color: #eee !important;
        background-image: url("../../media/img.jpg");
        background-size: cover;
        background-position: center center;
    }

</style>
<div class="coverr">
    <div class="">
        <div class="container transparent" layout="column" layout-align="center center">
            <div>
                <hgroup>
                    <!--<img src="./assets/img/Logo_alt2_web_87x45.png" alt="IndieWise"/>-->
                    <h1 class="md-display-2">Sign In</h1>
                </hgroup>
            </div>

            <md-whiteframe class="md-whiteframe-z5">
                <md-content layout-padding align="center" style="padding: 40px">
                    <md-button class="indigo md-fab" ng-click="SIC.doLoginFacebook()" aria-label="Login with Facebook">
                        <md-icon md-svg-icon="facebook" class="white-text"></md-icon>
                        <md-tooltip md-direction="top">Login with Facebook</md-tooltip>
                    </md-button>
                    <md-button class="blue lighten-2 md-fab" ng-click="SIC.authenticate('twitter')" aria-label="Login with Twitter">
                        <md-tooltip md-direction="top">Login with Twitter</md-tooltip>
                        <md-icon md-svg-icon="twitter" class="white-text"></md-icon>
                    </md-button>
                    <md-button class="orange darken-2 md-fab" ng-click="SIC.authenticate('google')" aria-label="Login with Google Plus">
                        <md-tooltip md-direction="top">Login with Google</md-tooltip>
                        <md-icon md-svg-icon="google-plus" class="white-text"></md-icon>
                    </md-button>
                    <md-button class="brown darken-2 md-fab" ng-click="SIC.authenticate('instagram')" aria-label="Login with Instagram">
                        <md-tooltip md-direction="top">Login with Instagram</md-tooltip>
                        <md-icon md-svg-icon="instagram" class="white-text"></md-icon>
                    </md-button>

                    <!--<md-divider></md-divider>-->
                    <h4>or with email</h4>
                    <form ng-submit="SIC.doLogin()">
                        <md-input-container >
                            <md-icon md-svg-icon="email"></md-icon>
                            <input ng-model="SIC.user.email" type="email" placeholder="Email" ng-required="true">
                        </md-input-container>
                        <md-input-container >
                            <md-icon md-svg-icon="security"></md-icon>
                            <input ng-model="SIC.user.password" type="password" placeholder="Password" ng-required="true">
                        </md-input-container>
                        <p class="flow-text text-center red-text" ng-if="SIC.error">
                            <span ng-show="SIC.error.code !== 101">{{SIC.error}}</span>
                            <span ng-show="SIC.error.code === 101">Please check your credentials and try again.</span>
                        </p>
                        <div layout="row">
                            <md-button type="submit" class="md-raised md-primary md-hue-2" flex>Sign In</md-button>
                        </div>
                    </form>

                    <div layout="row">
                        <md-button flex class="md-primary" ui-sref="register">Create an Account</md-button>
                        <md-button flex class="md-primary" ui-sref="reset_password">Forgot Password?</md-button>
                    </div>

                </md-content>

            </md-whiteframe>
        </div>
        <!--<video autoplay loop class="fillWidth">
            <source src="./assets/video/A-Director-View/Mp4/A-Director-View.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="./assets/video/A-Director-View/Webm/A-Director-View.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="./assets/video/A-Director-View/Ogv/A-Director-View.ogv" type="video/ogg" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="./assets/video/A-Director-View/Snapshot/A-Director-View.jpg" alt="">
        </div>-->
    </div>
</div>