[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .hidden {
    display: none !important;
}

.content .post .post-thumb .video-stats .thumb-stats {
    margin-right: 5px;
    /*padding: 0 6px;*/
}

hr.thin {
    margin: .25rem auto;
}

.fa.req {
    color: #ff0000;
}

/* Project card styles */
.content .post .post-des {
    min-height: 85px;
}

.pc-action-icons i{
    font-size: 1.5em !important;
}
.pc-action-icons.has-tip{
    border-bottom: none;
}

.topProfile {
  background-position: center center;
  background-repeat: no-repeat;
}

.comments .comment-sort span a.active {
    color: #6969e9;
}

.customLabel:before {
    color: #FFFFFF;
    border: 1px solid #aaaaaa;
}

/*.content .post:hover a.hover-posts,
.content .post a.hover-posts,
.content .post:hover .video-stats,
.content .post .video-stats {
    transition-duration: .1s;
}*/

.content.content-with-sidebar .list-group .list .post .post-thumb:hover .video-stats,
.content .post:hover .video-stats{
    transform: translateY(0px);
}

a.post-thumb {
    display: block;
}

.content .post .post-des .post-stats dropdown-toggle {
    margin-right: 5px;
    margin-bottom: 0;
    line-height: 11px;
}

.content .post .post-des .post-stats dropdown-toggle i {
    color: #aaaaaa;
    font-size: 11px;
    display: inline-block;
}

.content .post .post-des .post-stats dropdown-toggle span {
    display: inline-block;
    font-size: 11px;
    color: #aaaaaa;
}

.content .post .post-des .post-stats dropdown-toggle span a {
    font-size: 11px;
    color: #aaaaaa;
}




/* Custom Tabs Menu - Video Page*/
.customTabs {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.customTabs .widgetBox {
    margin-bottom: 10px;
}

.customTabs .widgetBox li{
    background-color: #ffffff;
}

.customTabs .widgetBox a{
    padding: 0 !important;
}

.customTabs .widgetBox a span{
    padding-right: 10px !important;
}

/* Navbar Styles */
#navBar .top-bar .top-bar-left.search-btn {
    padding: 0;
}

/* Thumbs Styles */
button.double-thumbs.active {
    background: #6969e9 !important;
    color: #fff !important;
    border-color: #6969e9 !important;
}
.double-thumbs i:last-of-type {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    unicode-bidi: bidi-override;
    direction: rtl;
}
button.double-thumbs i {
    margin-right: 5px !important;
}
button.double-thumbs i:last-of-type {
    margin-right: 0 !important;
}

/* Video Player Styles*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,1); /* Semi-transparent */
}

.highlight {
    position: relative;
    z-index: 11;
}

/* Emoticon SVG Styles */
.emoticon, .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    width: 13px;
    height: 13px;
}

button .emoticon {
}

.latest-page .sidebar .widgetBox .widgetContent .media-object .media-object-section .media-content p span {
    line-height: 13px;
}