<md-content layout="row" layout-align="space-around start" id="content" class="grey lighten-3" layout-padding layout-wrap>

    <!-- Featured Area -->
    <section flex="100" class="md-padding">
        <md-grid-list md-cols="5" md-row-height="16:9" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
            <md-grid-tile ng-repeat="tile in Home.featuredProjects" ng-style="{'background': tile.color}"
                          md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
                <md-icon md-svg-icon="{{tile.icon}}"></md-icon>
                <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </section>

    <section flex="100" flex-gt-sm="70" class="md-padding">
        <md-card>
            <div class="card-content" layout="row" layout-wrap layout-align="space-around start">
                <!--<project-card flex-sm="100" flex-md="40" flex-lg="30" flex-gt-lg="25" ng-repeat="video in Home.films" video="video.attributes.film"></project-card>-->
                <section flex="100" class="container">
                    <div class="" layout="row" layout-wrap layout-padding layout-align="space-around start">
                        <h6 flex="100" class="md-display-1">Trending</h6>
                        <!--<md-grid-list md-cols="4" md-row-height="16:9" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
                            <md-grid-tile ng-repeat="video in Home.trending|limitTo:4" style="background-image: url('{{::video.attributes.film.attributes.thumbnail_url}}');background-position: center center;background-size: cover;background-repeat: no-repeat;"
                                          md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
                                &lt;!&ndash;<md-icon md-svg-icon="{{tile.icon}}"></md-icon>&ndash;&gt;
                                <md-grid-tile-footer><h3>{{video.attributes.film.attributes.name}}</h3></md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>-->

                        <project-card class="no-shadow" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="25" ng-repeat="video in Home.trending" video="video"></project-card>

                    </div>
                </section>

                <section flex="100" class="container">
                    <div layout="row" layout-wrap layout-padding layout-align="space-around start">
                        <h6 flex="100" class="md-display-1">Highest Rated</h6>

                        <project-card class="no-shadow" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="25" ng-repeat="video in Home.highestRated|limitTo:4" video="video"></project-card>

                    </div>
                </section>

                <section flex="100" class="container">
                    <div layout="row" layout-wrap layout-padding layout-align="space-around start">
                        <h6 flex="100" class="md-display-1">Award Winning</h6>

                        <project-card class="no-shadow" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="25" ng-repeat="video in Home.highestAwarded|limitTo:4" video="video"></project-card>

                    </div>
                </section>

                <section flex="100" class="container">
                    <div layout="row" layout-wrap layout-padding layout-align="space-around start">
                        <h6 flex="100" class="md-display-1">Recently Added</h6>
                        <project-card class="no-shadow" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="25" ng-repeat="video in Home.recentFilms|limitTo:4" video="video"></project-card>

                    </div>
                </section>
            </div>
        </md-card>
    </section>

    <aside flex="100" flex-gt-sm="30" layout="row" layout-wrap hide-sm layout-align="center start">
        <div class="flex">
            <!-- Latest Watched -->
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">
                        People Are Watching
                        <md-progress-linear md-mode="{{Home.latest.watchedLoaded}}" class="md-accent"></md-progress-linear>
                    </span>
                    <md-list>
                        <md-list-item class="md-2-lines wrap-text" ng-repeat-start="w in Home.latest.watched" ui-sref="video({id: w.attributes.film.id})">
                            <img ng-src="{{::w.attributes.film.attributes.thumbnail_url}}" class="md-avatar" style="border-radius: 0;">
                            <a ui-sref="video({id: w.attributes.film.id})">{{::w.attributes.film.attributes.name}}</a>
                        </md-list-item>
                        <md-divider ng-repeat-end ng-if="!$last"></md-divider>
                    </md-list>
                </div>
            </div>

            <!-- Latest Comments and Reactions -->
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Latest</span>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Reactions">
                            <md-content>
                                <md-progress-linear md-mode="{{Home.latest.reactionsLoaded}}" class="md-accent"></md-progress-linear>
                                <md-list>
                                    <md-list-item class="md-2-line wrap-text" ng-repeat="c in Home.latest.reactions">
                                        <img ng-src="{{::c.attributes.author.attributes.avatar || './assets/img/avatar-1.png'}}"
                                             class="md-avatar" ui-sref="user({id: c.attributes.author.id})">
                                        <div class="md-list-item-text" layout="column">
                                            <h3><a ui-sref="video({id: c.attributes.parent.id})">{{::c.attributes.parent.attributes.name}}</a></h3>
                                            <h4>made <a ui-sref="user({id: c.attributes.user.id})">{{::c.attributes.user.attributes.first_name}} {{::c.attributes.user.attributes.last_name}}</a> feel {{::c.attributes.emotion}}.</h4>
                                        </div>
                                        <md-divider ng-if="!$last"></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                        <md-tab label="Comments">
                            <md-content>
                                <md-progress-linear md-mode="{{Home.latest.commentsLoaded}}" class="md-accent"></md-progress-linear>
                                <md-list>
                                    <md-list-item class="md-2-line wrap-text" ng-repeat="c in Home.latest.comments">
                                        <img ng-src="{{::c.attributes.author.attributes.avatar || './assets/img/avatar-1.png'}}"
                                             class="md-avatar" ui-sref="user({id: c.attributes.author.id})">
                                        <div class="md-list-item-text" layout="column">
                                            <h3 ng-if="c.attributes.parentFilm">
                                                <a ui-sref="user({id: c.attributes.author.id})">{{::c.attributes.author.attributes.first_name}} {{::c.attributes.author.attributes.last_name}}</a>
                                                <span ng-if="c.attributes.parentComment">replied to <a ui-sref="user({id: c.attributes.parentComment.attributes.author.id})">{{::c.attributes.parentComment.attributes.author.attributes.first_name}}</a> on</span>
                                                <span ng-if="!c.attributes.parentComment">commented on</span>
                                                <a ui-sref="video({id: c.attributes.parentFilm.id})">{{::c.attributes.parentFilm.attributes.name}}</a>
                                            </h3>
                                            <h3 ng-if="c.attributes.parentCritique">
                                                <a ui-sref="user({id: c.attributes.author.id})">{{::c.attributes.author.attributes.first_name}} {{::c.attributes.author.attributes.last_name}}</a>
                                                <span ng-if="c.attributes.parentComment">replied to <a ui-sref="video_critique({video_id:c.attributes.parentCritique.attributes.parent.id, id: c.attributes.parentCritique.id})">{{::c.attributes.parentCritique.attributes.author.attributes.first_name}}'s</a></span>
                                                <span ng-if="!c.attributes.parentComment">commented on <a ui-sref="video_critique({video_id:c.attributes.parentCritique.attributes.parent.id, id: c.attributes.parentCritique.id})">{{::c.attributes.parentCritique.attributes.author.attributes.first_name}}'s</a></span>
                                                <a ui-sref="video_critique({video_id:c.attributes.parentCritique.attributes.parent.id, id: c.attributes.parentCritique.id})">critique</a>
                                            </h3>
                                            <h4 ng-bind="::c.attributes.body"></h4>
                                        </div>
                                        <md-divider ng-if="!$last"></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                    </md-tabs>

                </div>
            </div>

            <!-- Latest Critiques -->
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">
                        Latest Critiques
                        <md-progress-linear md-mode="{{Home.latest.critiquesLoaded}}" class="md-accent"></md-progress-linear>
                    </span>
                    <md-content>
                        <md-list>
                            <md-list-item class="md-2-line wrap-text" ng-repeat="c in Home.latest.critiques">
                                <img ng-src="{{::c.attributes.author.attributes.avatar || './assets/img/avatar-1.png'}}"
                                     class="md-avatar" ui-sref="user({id: c.attributes.author.id})">
                                <div class="md-list-item-text" layout="column">
                                    <h3><a ui-sref="user({id: c.attributes.author.id})">{{::c.attributes.author.attributes.first_name}} {{::c.attributes.author.attributes.last_name}}</a></h3>
                                    <h4>Gave <a ui-sref="video({id: c.attributes.parent.id})">{{::c.attributes.parent.attributes.name}}</a> a {{::c.attributes.overall|number:1}}</h4>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div class="card">
        </div>
    </aside>

    <md-divider></md-divider>

</md-content>