<div class="item large-3 medium-6 columns {{type||'grid-medium'}} project-card" ng-if="::video.name" ng-class="{'end':$last}">
    <div class="post thumb-border">
        <a class="post-thumb" ui-sref="video({id: video.id})">
            <img ng-src="{{::video.thumbnail_url||'./assets/img/default_video_thumbnail.jpg'}}" alt="new video">
            <!--<a class="hover-posts">
                <span><i class="fa fa-play"></i>Watch Video</span>
            </a>-->
            <div class="video-stats clearfix">
                <div class="thumb-stats pull-left">
                    <i class="fa fa-star"></i>
                    <span>{{::(video.iwRating|number:1)||'N/A'}}</span>
                </div>
                <div class="thumb-stats pull-left">
                    <i class="fa fa-trophy"></i>
                    <span>{{::(video.awardCount)||0}}</span>
                </div>
                <div class="thumb-stats pull-left">
                    <i class="fa fa-smile-o"></i>
                    <span>{{::(video.reactionCount)||0}}</span>
                </div>
                <div class="thumb-stats pull-right">
                    <span>{{::video.runTime|secondsToDateTime|date:'HH:mm:ss'}}</span>
                </div>
            </div>
        </a>
        <div class="post-des">
            <h6><a ui-sref="video({id: video.id})">{{::video.name|truncate:50}}</a></h6>
            <div class="post-stats clearfix">
                <p class="pull-left">
                    <i class="fa fa-user"></i>
                    <span><a ui-sref="user.about({id: video.owner})">{{::related.users[video.owner].firstName+' '+related.users[video.owner].lastName}}</a></span>
                </p>
                <p class="pull-left" ng-if="::!$state.is('profile')">
                    <i class="fa fa-share"></i>
                    <span><a ng-click="openShareDialog(video)">Share</a></span>
                </p>
                <dropdown-toggle class="pull-left" ng-if="::!$state.is('profile')" ng-click="check(video)">
                    <toggle>
                        <i class="fa fa-heart"></i>
                        <span><a href="#">Add to</a></span>
                    </toggle>
                    <pane>
                        <ul class="menu vertical">
                            <li class="checkbox">
                                <input type="checkbox" id="isFaved" ng-model="isFaved" ng-false-value="false||'login'" ng-change="toFavorites(video)">
                                <label class="customLabel" for="isFaved">Favorites</label>
                            </li>
                            <li class="checkbox">
                                <input type="checkbox" id="isSaved" ng-model="isSaved" ng-false-value="false||'login'" ng-change="toWatchLater(video)">
                                <label class="customLabel" for="isSaved">Watch Later</label>
                            </li>
                        </ul>
                    </pane>
                </dropdown-toggle>
                <!--<p class="pull-left" ng-if="::!$state.is('profile')">
                    <i class="fa fa-heart" ng-class="{'primary':faved}"></i>
                    <span><a ng-click="toFavorites(video, $event)">Fav</a></span>
                </p>
                <p class="pull-left" ng-if="::!$state.is('profile')">
                    <i class="fa fa-clock-o" ng-class="{'primary':wled}"></i>
                    <span><a ng-click="toWatchLater(video)">Save</a></span>
                </p>-->
            </div>
            <div class="post-summary">
                <p>{{::video.description|truncate:100}}</p>
            </div>
            <div class="post-button">
                <a ui-sref="video({id: video.id})" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
            </div>
        </div>
    </div>
</div>

