<md-card style="position:relative;">
    <img ng-src="{{::video.attributes.thumbnail_url||'./assets/img/default_video_thumbnail.jpg'}}" class="md-card-image image-link"
         alt="{{::video.attributes.name}}" ui-sref="video({id: video.id})">
    <md-card-title style="padding: 16px">
        <md-card-title-text>
            <a title="{{::video.attributes.name}}" class="card-title truncate black-text" ui-sref="video({id: video.id})">{{::video.attributes.name}}</a>
                    <span class="md-caption">
                        by
                    <a class="action-link" ui-sref="user({id: video.attributes.owner.id})">
                        {{::video.attributes.owner.attributes.first_name+' '+video.attributes.owner.attributes.last_name}}
                    </a>
            </span>
            <md-divider></md-divider>
            <span class="md-caption grey-text lighten-2" layout-align="flex-start center" style="padding-top: 10px">
                <span flex>
                    <md-icon md-svg-icon="grade" class="orange-text" style="width: 16px;height: 16px;"></md-icon> {{::(video.attributes.iwRating|number:1)||'N/A'}}
                    <md-tooltip>IndieWise Average</md-tooltip>
                </span>
                &middot;
                <span flex>
                    <md-icon md-svg-icon="trophy" class="orange-text"style="width: 16px;height: 16px;"></md-icon> {{::(video.attributes.awardCount)||0}}
                    <md-tooltip>Awards</md-tooltip>
                </span>
                &middot;
                <span flex>
                    <md-icon md-svg-icon="emotion" class="orange-text" style="width: 16px;height: 16px;"></md-icon> {{::(video.attributes.reactionCount)||0}}
                    <md-tooltip>Reactions</md-tooltip>
                </span>
                <span ng-if="::video.attributes.unlist">&middot;</span>
                <span flex ng-if="::video.attributes.unlist" class="red-text">
                    <md-icon md-svg-icon="invisibility" class="red-text"></md-icon>
                    <md-tooltip md-direction="top">This video is not searchable by others.</md-tooltip>
                </span>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-fab-speed-dial md-open="isOpenFab" md-direction="up" class="md-scale md-fab-bottom-right" style="right: -5px;bottom: 18px" ng-cloak>
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                <md-icon md-svg-icon="more_vert_white"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <!--<md-button aria-label="Share" class="md-fab md-raised md-mini" ng-if="!$state.is('profile')"
                       ng-click="share(video)">
                <md-tooltip md-direction="left" md-visible="tooltipVisible">Share</md-tooltip>
                <md-icon md-svg-icon="share" aria-label="Share"></md-icon>
            </md-button>-->
            <md-button aria-label="Favorite" class="md-fab md-raised md-mini" ng-if="::!$state.is('profile')"
                       ng-click="toFavorites(video)">
                <md-tooltip ng-if="faved==='blue-text'" md-direction="left" md-visible="tooltipVisible">Add to Favorites</md-tooltip>
                <md-tooltip ng-if="faved==='red-text'" md-direction="left" md-visible="tooltipVisible">Remove from Favorites</md-tooltip>
                <md-icon md-svg-icon="favorite" aria-label="Share" ng-class="faved"></md-icon>
            </md-button>
            <md-button aria-label="Watch Later" class="md-fab md-raised md-mini" ng-if="::!$state.is('profile')"
                       ng-click="toWatchLater(video)">
                <md-tooltip ng-if="wled==='blue-text'" md-direction="left" md-visible="tooltipVisible">Watch Later</md-tooltip>
                <md-tooltip ng-if="wled==='red-text'" md-direction="left" md-visible="tooltipVisible">Don't Watch Later</md-tooltip>
                <md-icon md-svg-icon="watch_later" aria-label="Watch Later" ng-class="wled"></md-icon>
            </md-button>
            <md-button aria-label="Delete Project" class="md-fab md-raised md-mini" ng-if="::$state.is('profile')"
                       ng-click="deleteProject(video.id)">
                <md-tooltip md-direction="left" md-visible="tooltipVisible">Delete Project</md-tooltip>
                <md-icon md-svg-icon="close" aria-label="Delete Project"></md-icon>
            </md-button>
            <md-button aria-label="Edit" class="md-fab md-raised md-mini"
                       ng-if="isLoggedIn.id === video.attributes.owner.id"
                       ui-sref="video-edit({id: video.id})">
                <md-tooltip md-direction="left" md-visible="tooltipVisible">Edit</md-tooltip>
                <md-icon md-svg-icon="settings" aria-label="Edit"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</md-card>
