<div class="grey lighten-3">
    <section class="container" layout="row" layout-align="center center">
    <md-content flex id="content" class="grey lighten-3">
        <md-card>
            <md-card-header>
                <!--<md-card-avatar>
                    <img class="md-user-avatar" src="img/100-2.jpeg"/>
                </md-card-avatar>-->
                <md-card-header-text>
                    <span class="md-title">
                        <a ui-sref="video({id:VCEC.critique.attributes.parent.id})" class="md-primary">{{::VCEC.critique.attributes.parent.attributes.name}}</a>
                        by
                        <a ui-sref="user({id:VCEC.critique.attributes.parent.attributes.owner.id})">
                            {{::VCEC.critique.attributes.parent.attributes.owner.attributes.first_name}} {{::VCEC.critique.attributes.parent.attributes.owner.attributes.last_name}}
                        </a>
                    </span>
                    <span class="md-subhead">
                        Critique by
                        <a ui-sref="user({id:VCEC.critique.attributes.author.id})">
                            {{::VCEC.critique.attributes.author.attributes.first_name}} {{::VCEC.critique.attributes.author.attributes.last_name}}
                        </a>
                    </span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <section layout="column" class="md-padding">
                    <div layout layout-padding></div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Originality</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.originality" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Originality/Creativity">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Direction</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.direction" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Direction">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Writing</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.writing" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Writing">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Cinematography</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.cinematography" ng-change="VCEC.calcOverall()" step="1" min="0"
                                   max="10" aria-label="Cinematography">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Acting</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.performances" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Performances">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Production Value</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.production" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Production Value">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Pacing</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.pacing" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Pacing">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Editing</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.structure" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Editing">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Sound Quality</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.audio" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Sound Quality">
                        </md-slider>
                    </div>
                    <div layout>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Music</span>
                        </div>
                        <md-slider flex class="md-accent" md-discrete ng-model="VCEC.editedCritique.music" ng-change="VCEC.calcOverall()" step="1" min="0" max="10"
                                   aria-label="Music">
                        </md-slider>
                    </div>
                    <md-divider></md-divider>
                    <div layout class="md-accent md-hue-2">
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">Overall Rating</span>
                        </div>
                        <div flex layout layout-align="center center">
                            <span class="md-body-2">{{VCEC.editedCritique.overall|number:1}}/10</span>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="column" layout-padding>
                        <div layout layout-lt-md="column">
                            <md-input-container flex>
                                <label>Care to elaborate?</label>
                                <textarea ng-model="VCEC.editedCritique.body" columns="1" md-maxlength="5000"></textarea>
                            </md-input-container>
                        </div>
                        <md-switch ng-model="VCEC.editedCritique.private" aria-label="Private">
                            Make private?
                        </md-switch>
                        <i class="md-caption">By choosing this "Make private" Option, individual rating categories, such as "Production Value", "Originality", etc. will not be publicly visible to users other than you and the project author. However, the overall rating generated from these individual results will always be publicly visible. </i>

                        <!--<div layout="column">
                            <md-select placeholder="Is this award worthy? Nominate it!" ng-model="dialogModel.awardId"
                                       md-on-open="getAwards()" required style="min-width: 200px;">
                                <md-option ng-click="dialogModel.awardId=null">None</md-option>
                                <md-option ng-value="a.id" ng-repeat="a in awardsList|orderBy:'attributes.name'"
                                           class="md-accent" ng-bind="::a.attributes.name"></md-option>
                            </md-select>
                        </div>-->
                    </div>
                </section>
                <md-divider></md-divider>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-warn" ng-click="VCEC.cancelled()">Cancel</md-button>
                <span flex></span>
                <md-button class="md-primary md-raised" ng-click="VCEC.update()">Update</md-button>
            </div>
        </md-card>
    </md-content>
</section>
    </div>